/* Type your code here */
body
{
	/* margin: 0;
	padding: 0; */
	background-image: url('assets/background-image1.png');
	background-repeat: no-repeat;
	background-position: bottom  right;
	background-size: 60%;
}
.container
{
	position: relative;
	height: 80vh;
}
/* .bg_image
{
  position:absolute;
  bottom: 5px;
  right: 16px;
  top: 300px;

} */
/* .topright {      to set position use absolute
	position: absolute;
	top: 8px;
	right: 16px;
	font-size: 18px;
  } */
.Heading
{
	margin-top: 100px;
	margin-left: 10%;
	margin-bottom:3%;
}
.logo
{
	 position: absolute;
	 top: 10px;
	 right: 100px;
}
table
{
	width: 60%;
	height: 60vh;
	margin-left: 10%;
	border-collapse: collapse;
	background-color: white;
}
table tr:first-child
{
	background: orangered;
	color: white;
	font-size: x-large;
}
tr,td
{
	border-bottom: 2px solid lightgray;
	font-size: x-large;
	text-align: left;
}
#League-Name
{
	font-size:60px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
#Match-Name
{
	font-size: 30px;
	color: gray;
}
/* change the font family and spacing as per your project font */
.footer{
    display:flex;
    flex-direction: row;
    align-content: flex-end;
	position: relative;
	top: 50px;
	margin-left: 200px;
	font-size: 18px;
	font-family: Nunito Sans;
    font-style: normal;
    
}